/*colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  header .logo {
    display: flex;
    align-items: center; }
    header .logo i {
      margin-right: 20px;
      font-size: 35px; }
    header .logo .fa-rocket {
      color: #5151f3; }
    header .logo .fa-house {
      color: #2e2edf; }
    header .logo .fa-youtube {
      color: red; }
    header .logo .fa-book {
      color: #dd2d4a; }
    header .logo .text p {
      color: #363434; }
  @media screen and (max-width: 1440px) {
    header {
      width: 100%;
      justify-content: flex-start; }
      header .logo {
        flex-direction: column;
        margin: 0 80px; } }
  @media screen and (max-width: 1024px) {
    header {
      width: 100%;
      justify-content: flex-start; }
      header .logo {
        flex-direction: column;
        margin: 0 52px; } }

section#principal {
  width: 100%;
  height: 60vh;
  background: #800580;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  section#principal .droite {
    width: 50%;
    position: relative;
    left: 100px;
    color: white; }
    section#principal .droite p {
      margin-bottom: 15px; }
    section#principal .droite h1 {
      margin-bottom: 15px; }
  section#principal .gauche {
    width: 50%; }
    section#principal .gauche .cadre {
      left: -75px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 420px;
      height: 200px;
      background: #dfdcdc;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 10px 10px 5px whitesmoke; }
  @media screen and (max-width: 1440px) {
    section#principal {
      width: 100%;
      height: 45vh;
      justify-content: center;
      flex-direction: column; } }
  @media screen and (max-width: 1024px) {
    section#principal {
      width: 100%;
      height: 40vh;
      justify-content: center; }
      section#principal .droite {
        width: 100%;
        padding: 0 150px; }
      section#principal .gauche {
        width: 100%;
        padding: 0 200px; } }

#middle {
  margin: 75px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #middle img {
    width: 180px;
    height: 130px; }
  @media screen and (max-width: 1440px) {
    #middle {
      width: 100%;
      justify-content: flex-start; }
      #middle img {
        margin: 0 6px; } }
  @media screen and (max-width: 1024px) {
    #middle {
      width: 100%;
      justify-content: flex-start; }
      #middle img {
        margin: 0 10px;
        width: 130px;
        height: 80px; } }
